---
title: Magenta Films
layout: default
---

{% include services.html %}

{% include projects.html %}

{% include about.html %}

{% include team.html %}

{% include contact.html %}



<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="modalMareaOptica" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Marea Óptica</h3>
          <p></p>
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://www.youtube.com/embed/xeKvvrMJFBI" frameborder="0" allowfullscreen></iframe>
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="modalReelEric" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Reel Eric Bernardo Fernández</h3>
          <p>Reel de Eric Bernardo Fernández, uno de nuestros realizadores en Magenta Films.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/178372629" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="modalCitizensWorld" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Citizens of The World</h3>
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://www.youtube.com/embed/Kj0mhUaDR_U" frameborder="0" allowfullscreen></iframe>
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="modalMatarJulia" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Making of Matar a Julia</h3>
          <p>Making of de "Matar a Julia", ópera prima de Juan Diego Puentes. Producida por Magenta Films en co-producción con PuntoMov Studio y la Universidad del Cine.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/176266972" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="modalJuanMeisen" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Trailer "Juan Meisen ha Muerto"</h3>
          <p>Trailer Juan Meisen ha Muerto de Felipe Bergaño con Benja Coelho y Sofia Brito. Estreno Mundial BAFICI 2016 Competencia Oficial Argentina</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/161325603" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Reel Juan Diego Puentes 2015</h3>
          <p>Reel 2015 - Juan Diego Puentes. Realizador y operador de Flycam de <a href="https://www.youtube.com/channel/UCqiyDiVARXb3LNr0AXfuq-A">Magenta Films</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>

        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://www.youtube.com/embed/twrSikybz9g" frameborder="0"></iframe>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Parque de escalada -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- Project Details Go Here -->
          <h3>Reel 2015 - Nicol&aacute;s Valejo</h3>
          <p>Reel 2015 - Nicolás Vallejo P. Director de Fotografía y Colorista. Producción de <a href="https://vimeo.com/user39279434">Magenta Films</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-md-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/126959890" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- Project Details Go Here -->
          <h3>Documental Blima</h3>
          <p>Documental de danza filmado en Rio de Janeiro. Producción de <a href="https://www.youtube.com/channel/UCqiyDiVARXb3LNr0AXfuq-A">Magenta Films</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-md-9">
          <div class="modal-body">
            <iframe src="https://www.youtube.com/embed/WuwEjUhbYF8" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>El parque de escalada</h3>
          <p>El parque de escalada de Nicolás Vallejo</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/123799782" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Thriatlinista colombiano -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Felipe Rodriguez Triathlonista Colombiano</h3>
          <p>Felipe Rodr&iacute;guez es un deportista de alto rendimiento. Representa a Colombia en Triathlon a nivel mundial.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/124055917" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Time lapse por el mundo -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Time Lapse por el Mundo</h3>
          <p>Producción de <a href="https://vimeo.com/user39279434">Magenta Films.</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-lg-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/125006074" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- En Bogotá -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">

          <!-- Project Details Go Here -->
          <h3>En Bogot&aacute;</h3>
          <p>Monserrate, patrimonio de Colombia. Nubes, monta&ntilde;as, ciudad, Bogot&aacute;.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <iframe src="https://player.vimeo.com/video/127360299" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sabado en lezama -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>S&aacute;bado en Lezama</h3>
          <p>Prueba de RED DRAGON y equipo de SteadyCam, realizada en el Parque Lezama un día Sábado de 2015.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <iframe src="https://www.youtube.com/embed/J0xjP6yMXr0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Puerto Madryn -->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>Puerto Madryn, 150 años</h3>
          <p>Institucional para la Municipalidad de Puerto Madryn, homenajeando el cumpleaños Nº 150 de la ciudad. Producción de <a href="https://vimeo.com/user39279434">Magenta Films</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/136431169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Reel JP 2016 -->
<div class="portfolio-modal modal fade" id="modalReelJP16" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>Reel Juan Diego Puentes (2016)</h3>
          <p>Trabajos de Steady-Cam realizados por Juan Diego Puentes con la producción producción de <a href="https://vimeo.com/user39279434">Magenta Films</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/158800709" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Reel NV 2016 -->
<div class="portfolio-modal modal fade" id="modalReelNV16" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>Reel Nicolás Vallejo DF (2016)</h3>
          <p>Trabajos realizados por Nicolás Vallejo como director de fotografía con la producción de <a href="https://vimeo.com/user39279434">Magenta Films.</a></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/158501298" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Femina -->
<div class="portfolio-modal modal fade" id="modalFemina" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>"FEMINA ALFA" / Gina Vargas</h3>
          <p>Selección oficial BAIFFF 2016. Coproducción de Magenta Films y Cresta Cine.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/148356426" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Arriflex -->
<div class="portfolio-modal modal fade" id="modalArriflex" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>ARRIFLEX</h3>
          <p>Prueba con material vencido, producción de Magenta Films.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/157517073" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Janairo -->
<div class="portfolio-modal modal fade" id="modalJanairo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>Janairo</h3>
          <p>Enero en Buenos Aires.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/153101707" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Abierto de Boulder -->
<div class="portfolio-modal modal fade" id="modalBoulder" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>Abierto Latinoamericano de Boulder TNF 2015</h3>
          <p>Competencia oficial de Boulder 2015, realizada en el Parque de Escalada (EX Circuito KDT) organizada por The North Face, con la cobertura de Magenta Films.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/146439338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Luna Roja -->
<div class="portfolio-modal modal fade" id="modalLunaRoja" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>Luna Roja</h3>
          <p>Eclipse lunar 2015, captado en San Telmo frente al Parque Lezama.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/140613479" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Random Telmo -->
<div class="portfolio-modal modal fade" id="modalRandomTelmo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Project Details Go Here -->
          <h3>RANDOM TELMO</h3>
          <p>San Telmo captado por Magenta Films, realizado para la agrupación parisina CropTheBlock.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
        <div class="col-sm-9">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <iframe src="https://player.vimeo.com/video/163736968" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Catálogo -->
<div class="portfolio-modal modal fade" id="modalCatalogo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Project Details Go Here -->
          <h3>CATÁLOGO</h3>
          <img src="img/catalogo.jpg" class="img-responsive" />
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="modalJuanDiego" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="img/team/juandiego.jpg" class="img-responsive" />
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="modalEric" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="img/team/eric.jpg" class="img-responsive" />
          <img src="img/team/eric2.jpg" class="img-responsive" />
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="modalNicolas" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="img/team/nicolasvallejo.jpg" class="img-responsive" />
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!--     <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script> -->

<!-- Contact Form JavaScript -->
<!--     <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script> -->

<!-- Custom Theme JavaScript -->
<script src="js/agency.js" async></script>
<script src="js/jquery.vide.min.js" async></script>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-81852234-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
