<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nuestra Historia</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>&iquest;Qui&eacute;nes somos?</h3>
        <p class="text-left">
          Somos un colectivo de trabajo con experiencia en distintos tipos de realización audiovisual. Nuestra versatilidad nos permite enfocarnos en todas las áreas de desarrollo del proyecto. A través del camino recorrido, hemos generado un grupo de trabajo sólido
          y unido, donde cada integrante conoce el rol a desempeñar, garantizando un work-flow ideal para cada uno de los proyectos.
        </p>

        <h3>Misión y Visión</h3>
        <p class="text-left">
          Nuestra misión es ser parte del desarrollo de los nuevos lenguajes cinematográficos, de ese aumento de calidad constante, posicionándonos como uno de los eslabones indispensables en la construcción de nuevas estéticas audiovisuales. Nos caracteriza la
          pasión por comunicar, y contamos con las herramientas necesarias para generar contenidos de la más alta calidad, aplicando nuestra estética a las necesidades del cliente.
        </p>
      </div>
    </div>
</section>
