<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contacto</h2>
        <hr class="primary">
        <p>Ante cualquier necesidad, no dudes en contactarnos:</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-mobile fa-4x wow bounceIn"></i>
        <p>+54 (911) 5930 0293 (Bs.As)</p>
        <p> +1 (929) 293‑7978 (NYC)</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a class="alternate" href="mailto:info@magentafilms.net">info@magentafilms.net</a></p>
        <p><a class="alternate" href="mailto:filmsmagenta@gmail.com">filmsmagenta@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>
