<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Magenta Films 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.youtube.com/channel/UCqiyDiVARXb3LNr0AXfuq-A"><i class="fa fa-youtube-play"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/magentafilmsbsas"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://vimeo.com/user39279434"><i class="fa fa-vimeo-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
