<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header page-scroll">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>
         <a href="#page-top"><img src="img/logo.png" class="img-responsive logo" rel="img_src" alt=""></a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
             <li class="hidden">
                 <a href="#page-top"></a>
             </li>
             <li>
                 <a class="page-scroll" href="#services">Servicios</a>
             </li>
             <li>
                 <a class="page-scroll" href="#portfolio">Trabajos</a>
             </li>
             <li>
                 <a class="page-scroll" href="#about">Nosotros</a>
             </li>
             <li>
                 <a class="page-scroll" href="#team">Equipo</a>
             </li>
             <li>
                 <a class="page-scroll" href="#contact">Contacto</a>
             </li>
             <li>
                 <a href="en.html"><img src="img/icons/en.png" alt="english"></a>
             </li>
         </ul>
     </div>
     <!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>


<ul class="social-top">
 <li><a href="https://www.youtube.com/channel/UCqiyDiVARXb3LNr0AXfuq-A"><i class="fa fa-youtube-play"></i></a>
 </li>
 <li><a href="https://www.facebook.com/magentafilmsbsas"><i class="fa fa-facebook"></i></a>
 </li>
 <li><a href="https://vimeo.com/user39279434"><i class="fa fa-vimeo-square"></i></a>
 </li>
</ul>
<header class="heropanel--video" data-vide-bg="mp4: https://bitbucket.org/gafemoyano/magenta/raw/9470cbc11a2e26110987bef59222f354c69c0e79/videos/burrata.mp4 ,poster: https://bytebucket.org/gafemoyano/magenta/raw/b84683a98dc4decffec028ee079977c57fc08380/img/black.jpg" data-vide-options="posterType: jpg, loop: false, muted: true, position: 50% 50%">
</header>
