<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Trabajos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row center-block">
          <div class="col-xs-6 portfolio-item">
            <a href="#modalJuanMeisen" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Trailer Juan Meisen ha Muerto</p>
                </div>
              </div>
              <img src="img/proyectos/juan-meisen.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalMatarJulia" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Making of Matar a Julia</p>
                </div>
              </div>
              <img src="img/proyectos/making-julia.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalReelEric" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Reel Eric Bernardo Fernández</p>
                </div>
              </div>
              <img src="img/proyectos/reel-eric.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalCitizensWorld" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Citizens of the World</p>
                </div>
              </div>
              <img src="img/proyectos/berlin.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalMareaOptica" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Marea Óptica</p>
                </div>
              </div>
              <img src="img/proyectos/marea-optica.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Puerto Madryn</p>
                </div>
              </div>
              <img src="img/proyectos/puerto-madryn.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Sábado en Lezama</p>
                </div>
              </div>
              <img src="img/proyectos/pry8-01.jpg" class="img-responsive" alt="">
            </a>

          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Reel Juan Diego Puentes 2015</p>
                </div>
              </div>
              <img src="img/proyectos/pry1-01.jpg" class="img-responsive" alt="Clic para ver H.V." title="Clic para ver H.V.">
            </a>

          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Reel Nicolás Vallejo 2015</p>
                </div>
              </div>
              <img src="img/proyectos/pry2-01.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Documental Blima</p>
                </div>
              </div>
              <img src="img/proyectos/pry3-01.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>El Parque de Escalada</p>
                </div>
              </div>
              <img src="img/proyectos/pry4-01.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Felipe Rodriguez Triathlonista Colombiano</p>
                </div>
              </div>
              <img src="img/proyectos/pry5-01.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Time Lapse por el Mundo</p>
                </div>
              </div>
              <img src="img/proyectos/pry6-01.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>En Bogotá</p>
                </div>
              </div>
              <img src="img/proyectos/pry7-01.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalReelJP16" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Reel Juan Diego Puentes 2016</p>
                </div>
              </div>
              <img src="img/proyectos/reeljp2016.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#modalReelNV16" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Reel Nicolás Vallejo 2016</p>
                </div>
              </div>
              <img src="img/proyectos/reelnv2016.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalFemina" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Femina Alfa</p>
                </div>
              </div>
              <img src="img/proyectos/femina.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#modalArriflex" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Arriflex</p>
                </div>
              </div>
              <img src="img/proyectos/arriflex.jpg" class="img-responsive" alt="">
            </a>
          </div>

          <div class="col-xs-6 portfolio-item">
            <a href="#modalJanairo" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Janairo</p>
                </div>
              </div>
              <img src="img/proyectos/janairo.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalLunaRoja" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Luna Roja</p>
                </div>
              </div>
              <img src="img/proyectos/luna-roja.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalBoulder" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Abierto Latinoamericano de Boulder</p>
                </div>
              </div>
              <img src="img/proyectos/boulder.jpg" class="img-responsive" alt="">
            </a>
          </div>
          <div class="col-xs-6 portfolio-item">
            <a href="#modalRandomTelmo" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <p>Random Telmo</p>
                </div>
              </div>
              <img src="img/proyectos/random-telmo.jpg" class="img-responsive" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
