<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Servicios</h2>
        <h3 class="section-subheading text-muted">Producci&oacute;n Audiovisual</h3>
      </div>
    </div>
    <div class="row vertical-align">
      <div class="col-sm-8 col-sm-push-4">
        <h4 class="service-heading">Cinematograf&iacute;a</h4>
        <p class="text-muted">Contamos con un equipo de registro cinematogr&aacute;fico hasta en 6K. Manejamos todos los aspectos del proyecto, desde la producci&oacute;n hasta la edici&oacute;n.</p>
      </div>
      <div class="col-sm-4 col-sm-pull-8">
        <img src="img/cinematografia.jpg" class="img-responsive" alt="">
      </div>
    </div>

    <div class="row vertical-align">
      <div class="col-sm-8">
        <h4 class="service-heading">Publicidad y Videoclip</h4>
        <p class="text-muted">Realizamos videos publicitarios y musicales. Nuestro equipo se encarga de todo el proceso creativo, definiendo los conceptos y la est&eacute;tica a trabajar, generando un material listo para ser distribuido.</p>
      </div>
      <div class="col-sm-4">
        <img src="img/publicidad-videoclip.jpg" class="img-responsive" alt="">
      </div>

    </div>
    <div class="row vertical-align">
      <div class="col-sm-8 col-sm-push-4">
        <h4 class="service-heading">Alquiler de Equipos</h4>
        <p class="text-muted">En nuestro <a href="#modalCatalogo" data-toggle="modal" style="color: #B83775;">catálogo</a> encontrar&aacute;s todos los equipos con sus respectivas tarifas, as&iacute; como los servicios de operador para rodajes.</p>
      </div>
      <div class="col-sm-4 col-sm-pull-8">
        <img src="img/alquiler-equipos.jpg" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>
