<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Equipo</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/1.jpg" class="img-responsive img-circle" data-toggle="modal" href="#modalJuanDiego">
          <h4>Juan Diego Puentes</h4>
          <p class="text-muted">Realizador y Operador de Flycam</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://instagram.com/magentacine/"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://www.facebook.com/juan.d.puentes1"><i class="fa fa-facebook"></i></a>
            </li>
            <!-- <li><a href="#"><i class="fa fa-vimeo-square"></i></a> -->
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/2.jpg" class="img-responsive img-circle" data-toggle="modal" href="#modalNicolas">
          <h4>Nicolás Vallejo</h4>
          <p class="text-muted">Director de Fotografía y Colorista</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://instagram.com/nicolasvallejop/"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://www.facebook.com/nicolas.vallejo.969"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://vimeo.com/user9751609"><i class="fa fa-vimeo-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/5.jpg" class="img-responsive img-circle" data-toggle="modal" href="#modalEric">
          <h4>Eric Bernardo Fern&aacute;ndez</h4>
          <p class="text-muted">Realizador y Montajista</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://instagram.com/eromakaveli/"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://www.facebook.com/ericbernardo.fernandez"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://vimeo.com/makaveliinthis"><i class="fa fa-vimeo-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>
