<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Somos un colectivo de trabajo con experiencia en distintos tipos de realización audiovisual. Nuestra versatilidad nos representa, enfoc&aacute;ndonos en todas las &aacute;reas de desarrollo del proyecto. A trav&eacute;s del camino recorrido, hemos generado un grupo de trabajo s&oacute;lido y unido, donde cada integrante conoce el roll a desempe&ntilde;ar, garantizando un workflow ideal para cada uno de los proyectos.">
    <meta name="author" content="Magenta Films">
    <meta name="keywords" content="magenta, magentafilms, magenta films, productora, audiovisual, audiovisuales, multimedia, multimedios, cine, argentina, colombia, buenos aires, bogota, nicolas vallejo, juan diego puentes, eric bernardo fernandez">
    <meta property="og:image" content="http://magentafilms.net/img/thumbnail.jpg"/>
    <link rel="image_src" href="http://magentafilms.net/img/thumbnail.jpg" />
    <title>Magenta Films</title>

    <link rel="icon" href={{"favicon.png" | relative_url}}>

    <!-- Bootstrap Core CSS -->
    <link href={{ "/css/bootstrap.min.css" | relative_url }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ "/css/site.css" | relative_url }} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={{ "font-awesome/css/font-awesome.min.css" | relative_url }} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body id="page-top" class="index">
      {% include navigation.html %}
      {{content}}
      {% include footer.html %}      
    </body>
</html>
